/*====================== Google Fonts ===================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /*============== Font and typograhy ===============*/
    --body-font: 'Poppins', sans-serif;

    /*========= Colors =========*/
    --theme-color: #dedede;
    --text-color: #000;
    --subtitle-color: #888;
    --container-color: #fff;
}

/*==================== Base ======================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--theme-color);
    font-family: var(--body-font);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a área da caixa de notificação */
.notification-box {
    position: relative;
    max-height: 40rem;
    max-width: 20rem;
}

/* Estilos para o ícone de notificação */
.notification-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.notification-count {
    font-size: 0.5rem;
    height: 0.625rem;
}

.icon-container {
    display: flex;
}

/* Estilos para a lista de notificações */
.notification-list {
    top: 100%;
    width: 25rem;
    max-height: 25rem;
    overflow-y: auto;
    background-color: var(--container-color);
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px;
}

.notification-list h2 {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.notification-container {
    display: flex;
}

.notification-content {
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid rgb(219, 219, 219);
}

.notification-content:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 15%;
}

.img-container img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 10px;
}

.data-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    width: 20%;
}

.notification-title {
    height: 10px;
    width: auto;
}

.notification-content h3 {
    margin-top: 0;
    font-size: 13px;
}

.notification-content h4 {
    font-size: 12px;
}

.notification-content p {
    margin: 0;
    font-size: 12px;
}

.notification-content span {
    font-size: 12px;
    color: var(--subtitle-color);
}

/*============== Scroll bar ===============*/
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background-color: #DFE9EB;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #a7a6a6;
    border-radius: 5px;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:active {
    background-color: #7b7b7b;
}