* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: auto;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    width: auto;
    background-color: #fff;
    border-bottom: 1px solid #444;
}

.button_icon {
    max-width: 100%; /* Largura máxima da imagem é igual à largura da div */
    height: auto; /* Manter a proporção original da imagem */
    background-color: aqua;
}

.notification-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.notification-item {
    position: absolute;
    top: 4rem;
    min-height: 400px;
    min-width: 300px;
    border: 1px solid #444;
}
